$font: sans-serif;
$fontColor: BLACK;

$dominantColor: #3366CC;
$accentColorLight: #A5D4F3;
$accentColorDark: #3B1FAD;
$accentColorOffWhite: #f4e7d7;

$backgroundColor: #F5F3F6;
$headerBackgroundColor: $dominantColor;
$toolBackgroundColor: $accentColorLight;
$fieldsetBackgroundColor: LIGHTGRAY;
$fieldsetBorderColor: $accentColorDark;
$toolDescriptionBackgroundColor: $accentColorOffWhite;
$toolDescriptionBorderColor: GRAY;
$outputContainerBackgroundColor: LIGHTGRAY;
$errorOutputBackgroundColor: #F08080;
$outputContainerBorderColor: BLACK;


/* General */
html{
    font-family: $font;
    background-color: $backgroundColor;
    color: $fontColor;
}
html,
body{
    margin: 0;
    padding: 0;
}

main{
    padding: 1em;
    min-height: 100vh;
}

/* Header */
.header{
    padding:1.75em;
    background-color: $headerBackgroundColor;

}

.header h1{
    margin: 0;
    font-size: 200%;
}

.header a{
    color: $fontColor;
    text-decoration: none;
}

.header nav{
    margin-top: 1em;
}

.header nav a{
    margin-right: 1em;
}

/* Footer */
footer{
    background-color: #333333;
    color: WHITE;
    padding: 2em;
}

footer span{
    margin-left: .5em;
    margin-right: .5em;
    white-space: nowrap;
}

footer a{
    color: WHITE;
    text-decoration: none;
}

/* Tool */
$toolSubSectionBorderWidth: 2px;
$toolSubSectionBorderRadius: 5px;
.toolSubSection{
    margin: .5em;
    padding: 1em;
    border-radius: $toolSubSectionBorderRadius;
    border-width: $toolSubSectionBorderWidth;
    border-style: solid;
}

.tool{
    display: inline-block;
    min-width: 40%;
    background-color: $toolBackgroundColor;
    padding:1em;
    border-radius: 1em;
}

@media only screen and (max-device-width: 480px) {
    main{
        padding-left: 2px;
        padding-top: 2px;
    }
}

.toolDescription{
    @extend .toolSubSection;
    background-color: $toolDescriptionBackgroundColor;
    border-color: $toolDescriptionBorderColor;
}

.outputContainer{
    @extend .toolSubSection;
    background-color: $outputContainerBackgroundColor;
    border-color: $outputContainerBorderColor;
    font-size: large;
}

.errorOutput{
    @extend  .outputContainer;
    background-color: $errorOutputBackgroundColor;
}

.twoWayInputButton{
    font-size: 1.5em;
    width: 2em;
    height: 2em;
    margin: .5em;
}


/* Forms */
input[type="text"],input[type="number"],textarea {
    height: 2em;
    padding: .3em;
    border-radius: .3em;
    border-style:none;
}

input[type="number"]{
    width: 6em;
}

textarea{
    width: 100%;
    height: 10em;
}

input[type="text"] ~ label,
input[type="number"] ~ label,
textarea ~ label
{
  display: inline-block;
  margin-top: 1em;
}

fieldset {
    @extend .toolSubSection;
    border-color: $fieldsetBorderColor;
    background-color: $fieldsetBackgroundColor;
}

fieldset legend {
    padding: .35em;
    margin-left: 2em;
    background-color: $fieldsetBackgroundColor;
    border: $toolSubSectionBorderWidth solid $fieldsetBorderColor;
    border-radius: $toolSubSectionBorderRadius;
}

button {
    height: 2em;
}

select {
    font-size: 200%;
    padding: .25em .5em .25em .5em;
}

/* Tables */
table {
    border-collapse: collapse;
}

table,
th,
td {
    border: 1px solid black;
}

th,
td {
    padding: .75em;
}

th{
    background-color: rgba(0, 0, 0, 0.2);
}

/*Mobile Styles*/
@media only screen and (max-width: 500px) {
    .tool{
        min-width: 90%;
    }
}
