Options -Indexes

#Prevent returning .git & todo.txt
Redirect /.git/ /404/
Redirect /todo.txt /404/

#Compress text, html, javascript, css, xml:
AddOutputFilterByType DEFLATE text/plain
AddOutputFilterByType DEFLATE text/html
AddOutputFilterByType DEFLATE text/xml
AddOutputFilterByType DEFLATE text/css
AddOutputFilterByType DEFLATE application/xml
AddOutputFilterByType DEFLATE application/xhtml+xml
AddOutputFilterByType DEFLATE application/rss+xml
AddOutputFilterByType DEFLATE application/javascript
AddOutputFilterByType DEFLATE application/x-javascript

#Turn RewriteEngine on
RewriteEngine On

#Remove trailing slash
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} (.+)/$
RewriteRule ^ %1 [R=301,L]

#Remove .php extension
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteRule ^([^.]+)$ $1.php [NC,L]

#Redirect .php to "clean" url
RewriteCond %{THE_REQUEST} ^[A-Z]+\s.+\.php\sHTTP/.+
RewriteRule ^(.+)\.php $1 [R=301,L]

#Redirect to error pages
ErrorDocument 404 /404.php

#Redirect www. to main domain
RewriteCond %{HTTP_HOST} ^www\.simpletoolsonline\.com [NC]
RewriteRule ^(.*)$ https://simpletoolsonline.com/$1 [L,R=301]


# Enable HTTP Strict Transport Security (HSTS)
# See https://developer.mozilla.org/en-US/docs/Web/Security/HTTP_strict_transport_security
<IfModule mod_headers.c>
    Header always set Strict-Transport-Security "max-age=31536000; includeSubDomains"
</IfModule>

#Redirect http traffic to https (but not on localhost)
RewriteCond %{HTTP_HOST} !=localhost
#RewriteCond %{HTTPS} !on
#RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI}
