#Disable directory indexes
Options -Indexes

#Prevent returning .git & todo.txt
Redirect /.git/ /404/
Redirect /todo.txt /404/

#Turn RewriteEngine on
RewriteEngine On

#Redirect to 404 page
ErrorDocument 404 /404.php

#Remove .php file extensions
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule !.*\.php$ %{REQUEST_FILENAME}.php [QSA,L]

#Redirect www. to main domain
RewriteCond %{HTTP_HOST} ^www\.simpletoolsonline\.com [NC]
RewriteRule ^(.*)$ https://simpletoolsonline.com/$1 [L,R=301]
